<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.dailysignin.mapper.UserMapper">
 	
 	<select id="getSignList" resultType="_UserModel">
 		select openid, sign_date, record_time, combo_flag 
		from sign_user 
		where openid=#{openid} and combo_flag='1' 
		order by record_time asc
 	</select>
 	
 	
 	<insert id="insertSign">
 		insert into sign_user
 		(openid, sign_date, record_time, combo_flag)
 		values
 		(#{openid}, current_date(), sysdate(), '1');
 		
 		<if test="doUnlock != 0" >
 			insert into sign_unlock
 			(openid,unlock_proid,record_time) 
 			values 
 			(#{openid},#{proID},sysdate()) 
 			on duplicate key update record_time=sysdate();
 		</if>	
 	</insert>
 	
 	
 	<update id="resetCombo">
 		update sign_user set combo_flag='0' where openid=#{openid}
 	</update>
 	
 	
 	<select id="checkExchange" resultType="Integer">
 		select count(1) from sign_exchange where openid=#{openid}
 	</select>
 	
 	<insert id="exchange" >
 		insert into sign_exchange
 		(openid, proID, record_time)
 		values
 		(#{openid},#{proID},sysdate())
 	</insert>
 	
 	
 	
 	<select id="getProlist" resultType="_ProModel">
 		select proID, proName, proUnlock, proRemains, proImg, unlockDays 
 		from pro_view
 		order by unlockDays+0 desc
 	</select>
 	
 	
 	<select id="getUnlocklist" resultType="_UserModel">
 		select openid, unlock_proid, record_time
 		from sign_unlock
 		where openid=#{openid} and isvalid='1'
 	</select>
 	
 	<update id="addUnlock">
 		replace into sign_unlock 
 		(openid,unlock_proid,record_time) 
 		values 
 		(#{openid},#{proID},sysdate()) 	
 	</update>
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	<select id="voteCounts" resultType="Integer">
 		select count(1) as counting from vote_list where openid=#{openid} 
 	</select>
 	
 	<select id="voteCountsToday" resultType="Integer">
 		select count(1) from vote_list where instr(record_time, current_date())>0 and openid=#{openid}
 	</select>
 	
 	<update id="vote">
 		insert into vote_list
 		(openid,noNum,record_time)
 		values
 		(#{openid},#{noNum},sysdate())
 	</update>
 	
 	
 </mapper>